{% extends 'base.html.twig' %}

{% block body %}
    <h1>Owners list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for owner in owners %}
            <tr>
                <td><a href="{{ path('owner_show', { 'id': owner.id }) }}">{{ owner.id }}</a></td>
                <td>{{ owner.nom }}</td>
                <td>{{ owner.prenom }}</td>
                <td>{{ owner.pseudo }}</td>
                <td>{{ owner.email }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('owner_show', { 'id': owner.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('owner_edit', { 'id': owner.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('owner_new') }}">Create a new owner</a>
        </li>
    </ul>
{% endblock %}
