{% extends 'base.html.twig' %}

{% block body %}
    <h1>Owner</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ owner.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ owner.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ owner.prenom }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ owner.pseudo }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ owner.email }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('owner_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('owner_edit', { 'id': owner.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
